# Symfony directories
back/var/
back//vendor/
back//public/build/
back//node_modules/

# Symfony environment files
back/.env.local
back/.env.*.local
back/.env.test
back/.env.test.local

# Composer
back//composer.phar

# Cache, logs, etc.
back/*.log
back/*.cache

# IDEs and editors
back//.idea/
back//.vscode/
back//*.swp
back/*.swo
back/*~

# OS-specific files
back/.DS_Store
back/Thumbs.db

# PHPUnit
back//phpunit.xml
back//phpunit.xml.dist

# Coverage
back//coverage/
back/var/cache/
back/var/log/*.log
