{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h1>Catégorie : {{ category.name }}</h1>
    {% if category.articles is defined %}
        <h3>Articles dans cette catégorie :</h3>
        <ul>
            {% for article in category.articles %}
                <li>{{ article.title }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
