{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block body %}
    {% set category = article.categoryStatus %}

    {% if not category.exists %}
        <div class="alert alert-warning mb-3">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            L'ancienne catégorie a été supprimée - Veuillez en sélectionner une nouvelle
        </div>
    {% endif %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit article</h1>

        {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="text-center mt-3">
            <a href="{{ path('home') }}" class="btn btn-secondary">
                <i class="bi bi-arrow-left"></i> Cancel
            </a>
        </div>
    </div>
{% endblock %}
