{# templates/article/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel article</h1>

    {{ include('article/_form.html.twig') }}
{% endblock %}